.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.night .about {
  background-color: black;
  color: #fcecdf;
  h2 {
    color: #fcecdf;
  }
  p {
    color: #fcecdf;
  }
}
