.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  transition: transform 0.3s;
}

.home:hover {
  transform: scale(1.1);
}

.night .home {
  background-color: black;
  color: #fcecdf;
}
