.mode {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mode-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: var(--black, #000);
  border: 1px solid var(--yellow, #fcecdf);
  border-radius: 15px;
  cursor: pointer;
}

.mode-link.is-active {
  width: 28px;
  height: 28px;
  background: var(--yellow, #fcecdf);
  border: 1px solid var(--black, #000);

  .moon {
    fill: black;
  }

  .sun {
    fill: #fcecdf;
  }
}

.night .mode-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: var(--black, #fcecdf);
  border: 1px solid var(--yellow, #000);
  border-radius: 15px;
}

.night .mode-link.is-active {
  width: 28px;
  height: 28px;
  background: var(--yellow, #000);
  border: 1px solid var(--black, #fcecdf);

  .moon {
    fill: black;
  }

  .sun {
    fill: #fcecdf;
  }
}
