.portfolio-list {
  text-align: right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.portfolio-list h2 {
  transition: transform 0.3s;
}

.portfolio-list h2:hover {
  transform: scale(1.1);
}

.night .portfolio {
  background-color: black;
}

.night .portfolio-list h2 {
  color: #fcecdf;
}
