.portfolio-list {
  text-align: right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 576px) {
  .portfolio-list {
    gap: 35px;
  }
}

@media (min-width: 990px) {
  .portfolio-list {
    gap: 40px;
  }
}

.portfolio-list ul {
  margin: 0;
}

.portfolio-list li {
  transition: transform 0.3s;
  list-style: none;
  font-size: 30px;
}

@media (min-width: 576px) {
  .portfolio-list li {
    font-size: 45px;
  }
}

@media (min-width: 990px) {
  .portfolio-list li {
    font-size: 60px;
  }
}

.portfolio-list li:hover {
  transform: scale(1.1);
}

.night .portfolio {
  background-color: black;
}

.night .portfolio-list h2 {
  color: #fcecdf;
}
