.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--yellow, #fcecdf);
}

.projects-image-wrapper {
  position: relative;

  img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 30%;
  }

  h2 {
    position: relative;
    z-index: 2;
  }
}

.projects-image-wrapper {
  img {
    transition: transform 0.2s;
  }

  img:hover {
    opacity: 100%;
  }

  .projects-title {
    transition: transform 0.2s;
  }

  .projects-title:hover {
    opacity: 0%;
  }
}
