.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--yellow, #fcecdf);

  @media (min-width: 990px) {
    height: 100svh;
  }
}

.project-description {
  margin-top: 40px;

  @media (min-width: 990px) {
    margin-top: 0;
  }
}

.projects-image-wrapper {
  position: relative;

  img {
    z-index: 1;
    opacity: 30%;
    height: auto;
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;

    @media (min-width: 990px) {
      max-height: 70vh;
    }
  }

  img {
    transition: transform 0.3s ease-out;
  }

  img:hover {
    transform: scale(1.1);
  }

  h2 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: -25%;
    max-width: 100%;

    @media (min-width: 768px) {
      left: -30%;
    }

    @media (min-width: 990px) {
      left: -30%;
    }

    @media (min-width: 1200px) {
      left: -30%;
    }
  }
}

.projects-image-wrapper {
  img {
    transition: opacity 0.3s;
  }

  .video-container {
    transition: opacity 0.3s;
  }

  .projects-title {
    transition: opacity 0.3s;
  }

  .about-title {
    transition: opacity 0.3s;
  }

  &:hover {
    img {
      opacity: 100%;
    }
    .video-container {
      opacity: 100%;
    }
    .projects-title {
      opacity: 0;
    }

    .about-title {
      opacity: 0%;
    }
  }
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide {
  background-color: #fcecdf;
}

.night .swiper-slide {
  background-color: black;
}

.swiper-container {
  height: 100vh;
  width: 100vw;
  padding-top: 30% !important;

  @media (min-width: 768px) {
    padding-top: 30% !important;
  }

  @media (min-width: 990px) {
    padding-top: 0 !important;
  }
}

.night .projects {
  background-color: black;
  h2 {
    color: #fcecdf;
  }
  p {
    color: #fcecdf;
  }
}

.night .project-description {
  background-color: black;
  p {
    color: #fcecdf;
  }
}

.night .projects .projects-image-wrapper {
  background-color: black;
  .projects-title h2 {
    color: #fcecdf;
  }
  .about-title p {
    color: #fcecdf;
  }
}
