.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--yellow, #fcecdf);
}

.projects-image-wrapper {
  position: relative;

  img {
    position: absolute;
    right: 0;
    top: 30px;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 30%;
    height: calc(100vh - 300px);
    max-width: 100%;
    object-fit: contain;
  }

  .video-container {
    position: absolute;
    right: 0;
    align-items: center;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 30%;
    height: calc(100vh - 300px);
    max-width: 100%;
    object-fit: contain;
  }

  h2 {
    position: relative;
    z-index: 2;
  }
}

.projects-image-wrapper {
  img {
    transition: opacity 0.3s;
  }

  .video-container {
    transition: opacity 0.3s;
  }

  .projects-title {
    transition: opacity 0.3s;
  }

  .about-title {
    transition: opacity 0.3s;
  }

  &:hover {
    img {
      opacity: 100%;
    }
    .video-container {
      opacity: 100%;
    }
    .projects-title {
      opacity: 0%;
    }

    .about-title {
      opacity: 0%;
    }
  }
}

.swiper-slide-active {
  z-index: 1;
}

.night .projects {
  background-color: black;
  h2 {
    color: #fcecdf;
  }
  p {
    color: #fcecdf;
  }
}

.night .projects .projects-image-wrapper {
  background-color: black;
  .projects-title h2 {
    color: #fcecdf;
  }
  .about-title p {
    color: #fcecdf;
  }
}
