* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Dirtyline 36Daysoftype 2022";
}

body {
  background: var(--yellow, #fcecdf);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

h1 {
  color: var(--black, #000);
  text-align: right;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 90px;
  }
}

h2 {
  color: var(--black, #000);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

p {
  color: var(--black, #000);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.night {
  background-color: black;
  color: #fcecdf;
  border: #fcecdf;
}
