* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Dirtyline 36Daysoftype 2022";
}

body {
  background: var(--yellow, #fcecdf);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

h1 {
  color: var(--black, #000);
  text-align: right;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 90px;
  }
}

h2 {
  color: var(--black, #000);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 990px) {
    font-size: 60px;
  }
}

p {
  color: var(--black, #000);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 990px) {
    font-size: 15px;
  }
}

.night {
  background-color: black;
  color: #fcecdf;
  border: #fcecdf;
}

p a {
  text-decoration: underline;
}

.cursor-dot {
  position: fixed;
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.night .cursor-dot {
  background-color: #fcecdf;
}
