@import "bootstrap/scss/bootstrap-grid";
@import "font";
@import "base";
@import "layout";
@import "modules/language";
@import "modules/mode";
@import "modules/bottom";
@import "modules/portfolio";

@import "modules/top";
@import "modules/close";
@import "modules/home";
@import "modules/projects";
@import "modules/arrow";

@import "swiper/swiper";

.row + .row {
  margin-top: 16px;
}
